<h2>Users</h2>

  <% if notice %>
	<p id="notice"><%= notice %></p>
  <% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.display_name, user %></td>
	<% if session[:user_id] %>
    	<td><%= link_to 'Edit', edit_user_path(user) %></td>
    	<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:user_id] %>
	<%= link_to 'New User', new_user_path %>
<% end %>
