<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @titlematch.title.title %>
</p>

<p>
  <b>User:</b>
  <%= @titlematch.user %>
</p>

<p>
  <b>Date won:</b>
  <%= @titlematch.date_won %>
</p>


<%= link_to 'Edit', edit_titlematch_path(@titlematch) %> |
<%= link_to 'Back', titlematches_path %>
