<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @titlematch.title.title %>
</p>

<p>
  <b>User:</b>
  <%= @titlematch.user.display_name %>
</p>

<p>
  <b>Date won:</b>
  <%= @titlematch.date_won %>
</p>

<% if session[:user_id] %>
	<%= link_to 'Edit', edit_titlematch_path(@titlematch) %> |
<% end %>
<%= link_to 'Back', titlematches_path %>
