<h2>Titles</h2>

<table>
  <tr>
	<th></th>
    <th>Title</th>
    <th>Owner</th>
	<th>Held For</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @titles.each do |title| %>
  <tr>
	<td><%= image_tag(title.image_url, :class => 'title-image', :size => "150x200") %></td>
    <td><%= link_to title.title, title %></td>
    <td><%= title.get_owner() %></td>
	<td><%= title.days_since_acquired() %> Days</td>
	<% if session[:user_id] %>
    	<td><%= link_to 'Edit', edit_title_path(title) %></td>
    	<td><%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:user_id] %>
	<%= link_to 'New Title', new_title_path %>
<% end %>
