<h2>Titles</h2>

<ul class="titles">
	<% @titles.each do |title| %>
		<li class="title">
			<%= image_tag(title.image_url, :class => 'title-image img-polaroid', :size => "150x200") %>
			<div class="title-details">
				<h4><%= link_to title.title, title %></h4>
				<p>Owned by: <%= title.get_owner() %></p>
				<p>Held for: <%= title.days_since_acquired() %> Days</p>
			</div>
			<% if session[:user_id] %>
				<ul class="title-admin-tools">
					<li class="title-admin-tool"><%= link_to 'Edit', edit_title_path(title), :class => 'btn btn-small btn-warning' %></li>
					<li class="title-admin-tool"><%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %></li>
				</ul>
			<% end %>
		</li>
	<% end %>
</ul>

<% if session[:user_id] %>
	<%= link_to 'New Title', new_title_path, :class => 'btn btn-small btn-primary' %>
<% end %>
