<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @title.title %>
</p>

<p>
  <b>Owner:</b>
  <%= @title.get_owner() %>
</p>

<p>
  <b>Held For:</b>
  <%= @title.days_since_acquired() %> Days
</p>

<p>
  <b>Title Image:</b>
  <%= image_tag(@title.image_url, :class => 'title-image', :size => "150x200") %>
</p>


<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
